@import "src/app/users/components/users/users.component";

a {
  color: #1b1c1e;
}

mat-card-title {
  font-weight: bolder;
  font-size: 18px;
  color: $tds-dark-gray;
}

mat-card {
  width: 100%;
  margin-bottom: 0.5rem;
}

mat-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

mat-icon:not(.red-btn-icon) {
  margin-bottom: 0;
  background-color: $tds-green;
  padding: 2px;
}

mat-card-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
