@import "../../../../custom-theme";

:host {
  padding-left: 50px;
  padding-right: 50px;
}

mat-card.form {
  max-width: 600px;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

mat-card-header.form {
  margin: auto;
  font-size: 24px;
}

mat-card-header.form *::after {
  content: '';
  display: block;
  width: calc(100% + 40px);
  height: 1px;
  background-color: $tds-gray;
  margin-top: 5px;
  translate: -20px;
}

mat-card-content.form {
  padding: 0;
  margin-top: 30px;
  width: 100%;
}

.info-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 15%;
  width: 70%;
}

p {
  text-align: justify;
}

.button-row {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.button-row:nth-child(1) {
  margin-top: 20px;
}
