<mat-card>
  <mat-card-header>
    <mat-icon svgIcon="account-avatar"></mat-icon>
    <div class="title">
      <mat-card-title>
        {{user.email.split('@')[0]}}
      </mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
        <span class="attribute-container">
      <span class="attribute-name">Email</span>
      <span class="attribute-value">{{user.email}}</span>
    </span>
    <span class="attribute-container">
      <span class="attribute-name">Role</span>
      <span class="attribute-value">{{user.role | titlecase}}</span>
    </span>
  </mat-card-content>
  <mat-card-actions *ngIf="isAdminLogged && user.role !== 'ADMIN'">
    <a mat-raised-button class="btn" [routerLink]="'/admin/users/edit/' + user.id" color="primary">
      <mat-icon svgIcon="edit" class="white-btn-icon"></mat-icon>
      <span>Edit</span>
    </a>
  </mat-card-actions>
</mat-card>
