<mat-card class="form">
  <mat-card-header class="form">
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <mat-card-content class="form">
    <form [formGroup]="passwordForm" (ngSubmit)="setPassword()">
      <section>
        <div class="input-row">
          <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter new password"
                   formControlName="newPassword">
            <button mat-icon-button matSuffix
                    [matTooltip]="hidePassword ? 'Show password' : 'Hide password'"
                    (click)="toggleShowPassword($event)">
              <mat-icon [svgIcon]="hidePassword ? 'showPassword' : 'hidePassword'"></mat-icon>
            </button>
            <mat-hint>Password should have 1 uppercase letter, 1 lowercase letter, 1 number, 1 special character and be
              long at least 12 characters
            </mat-hint>
            <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">New Password is a mandatory
              field
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('password')">Password should have at least 1
              uppercase letter, 1 lowercase letter, 1 number, 1 special character and be
              long at least 12 characters
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-row">
          <mat-form-field appearance="fill">
            <mat-label>Confirmation Password</mat-label>
            <input matInput [type]="hidePasswordConfirmation ? 'password' : 'text'"
                   placeholder="Confirm your new password"
                   formControlName="newPasswordConfirmation">
            <button mat-icon-button matSuffix
                    [matTooltip]="hidePasswordConfirmation ? 'Show password' : 'Hide password'"
                    (click)="toggleShowPasswordConfirmation($event)">
              <mat-icon [svgIcon]="hidePasswordConfirmation ? 'showPassword' : 'hidePassword'"></mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.controls['newPasswordConfirmation'].hasError('required')">Confirmation
              Password is a mandatory field
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('password')">Confirmation Password should
              have at least 1
              uppercase letter, 1 lowercase letter, 1 number, 1 special character and be
              long at least 12 characters
            </mat-error>
            <mat-error
              *ngIf="!passwordForm.controls['newPasswordConfirmation'].hasError('required') && passwordForm.controls['newPasswordConfirmation'].hasError('passwordMismatch')">
              Passwords
              do
              not match
            </mat-error>
          </mat-form-field>
        </div>
      </section>

      <div class="button-row">
        <button mat-raised-button class="btn" color="primary">Change Password</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
