<mat-card class="form">
  <mat-card-header class="form">
    <mat-card-title>Promena lozinke</mat-card-title>
  </mat-card-header>
  <mat-card-content class="form">
    <form [formGroup]="passwordForm" (ngSubmit)="setPassword()">
      <section>
        <div class="input-row">
          <mat-form-field appearance="fill">
            <mat-label>Nova lozinka</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter new password"
                   formControlName="newPassword">
            <button mat-icon-button matSuffix
                    [matTooltip]="hidePassword ? 'Show password' : 'Hide password'"
                    (click)="toggleShowPassword($event)">
              <mat-icon [svgIcon]="hidePassword ? 'showPassword' : 'hidePassword'"></mat-icon>
            </button>
            <mat-hint>
              Lozinka treba da sadrži 1 veliko slovo, 1 malo slovo, 1 broj, 1 specijalni karakter i da bude dugačka najmanje 12 karaktera.
            </mat-hint>
            <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">Nova lozinka je obavezno polje
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('password')">
              Lozinka treba da sadrži 1 veliko slovo, 1 malo slovo, 1 broj, 1 specijalni karakter i da bude dugačka najmanje 12 karaktera.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-row">
          <mat-form-field appearance="fill">
            <mat-label>Potvrda lozinke</mat-label>
            <input matInput [type]="hidePasswordConfirmation ? 'password' : 'text'"
                   placeholder="Confirm your new password"
                   formControlName="newPasswordConfirmation">
            <button mat-icon-button matSuffix
                    [matTooltip]="hidePasswordConfirmation ? 'Show password' : 'Hide password'"
                    (click)="toggleShowPasswordConfirmation($event)">
              <mat-icon [svgIcon]="hidePasswordConfirmation ? 'showPassword' : 'hidePassword'"></mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.controls['newPasswordConfirmation'].hasError('required')">Potvrda lozinke je obavezno polje
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('password')">Lozinka treba da sadrži 1 veliko slovo, 1 malo slovo, 1 broj, 1 specijalni karakter i da bude dugačka najmanje 12 karaktera.

            </mat-error>
            <mat-error
              *ngIf="!passwordForm.controls['newPasswordConfirmation'].hasError('required') && passwordForm.controls['newPasswordConfirmation'].hasError('passwordMismatch')">
              Unete lozinke se ne poklapaju.
            </mat-error>
          </mat-form-field>
        </div>
      </section>

      <div class="button-row">
        <button mat-raised-button class="btn" color="primary">Promeni lozinku</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
