<mat-card class="form">
  <mat-card-header class="form">
    <mat-card-title>No Certificate</mat-card-title>
  </mat-card-header>

  <mat-card-content class="form">
    <div class="info-row">
      <p>It seems you don't have a pending certificate signing request (CSR) of valid certificate. Please
        create one by clicking on the button:</p>
    </div>
    <div class="button-row">
      <button mat-raised-button routerLink="security/csr/new" class="btn" color="primary">Create CSR</button>
    </div>
  </mat-card-content>

</mat-card>
