<div class="decisions-table-container">
  <div class="decisions-table-content">
    <mat-table class="decisions-table" [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Jmbg Pacijenta">
        <mat-header-cell *matHeaderCellDef mat-sort-header> JMBG Pacijenta</mat-header-cell>
        <mat-cell *matCellDef="let decision"> {{ decision.pacijent.jmbg }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Datum zahteva</mat-header-cell>
        <mat-cell *matCellDef="let decision"> {{ decision.createdAt | date: 'dd MMM yyyy, HH:mm:ss' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell
          *matCellDef="let decision"> {{ decision.status | capitalizedLowerCase }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Birth Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Datum rodjenja</mat-header-cell>
        <mat-cell
          *matCellDef="let decision"> {{ decision.pacijent.datumRodjenja | date }} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
