<div class="row" style="margin-top: 5%">
  <div class="col"></div>
  <div class="col">
    <form [formGroup]="procenaRizikaForm">
      <div class="row">
        <div class="col-6">
          <mat-form-field style="width: 90%">
            <mat-label>Jmbg pacijenta</mat-label>
            <input matInput formControlName="jmbgPacijenta">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field style="width: 100%">
            <mat-label>Datum rodjenja pacijenta</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="datumRodjenjaPacijenta">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field style="width: 90%">
            <mat-label>Trajanje simptoma</mat-label>
            <input matInput formControlName="trajanjeSimptoma">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field style="width: 100%">
            <mat-label>Stenoza krvnog suda</mat-label>
            <input matInput formControlName="stenozaKrvnogSuda">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <h5 style="color: lightseagreen">Klinicki simptomi:</h5>
          <mat-radio-group formControlName="klinickiSimptom">
            <div class="row">
              <div class="col-3">
                <mat-radio-button class="custom-radio-button" value="hemipareza">Hemipareza</mat-radio-button>
              </div>
              <div class="col-4">
                <mat-radio-button style="margin-left: 15%" class="custom-radio-button" value="hemiplegija">Hemiplegija</mat-radio-button>
              </div>
              <div class="col-5">
                <mat-radio-button style="margin-left: 25%" class="custom-radio-button" value="smetnjeGovora">Smetnje govora bez pareze</mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
      </div>
      <div class="row" style="margin-top: 5%">
        <div class="col">
          <mat-checkbox color="green" formControlName="dijabetes">Dijabetes
          </mat-checkbox>
        </div>
        <div class="col">
        </div>
        <div class="col"><div class="col">
        </div></div>
      </div>
      <div class="row" style="margin-top: 10%">
        <div class="col"></div>
        <div class="col">
          <button mat-button
                 class="odlukaButton"
                 style="color: white; background-color: black; width: 100%"
                 type="button" (click)="proceniRizikOdMU()">Proveri odluku
          </button>
        </div>
        <div class="col"></div>
      </div>
    </form>
  </div>
  <div class="col">
  </div>
</div>
